
body, html{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 14px;
	color: #1c1c1c;
}

.clear{
	clear: both;
}
.hide{
	display: none !important;
}
.show{
	display: block;
}

.app-content{
	clear: both;
	margin-left: auto;
	margin-right: auto;
	//box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.top-content{
	font-size: 14px;
}
.page-content{
	min-height: 400px;
	font-size: 14px;
}
.foot-content{
	font-size: 14px;
}

@media only screen and (min-width: 1000px) {
	.app-content{
		width: 100%
	}
}
@media only screen and (min-width: 301px) and (max-width: 999px) {
	.app-content{
		width: 1000px;
	}
}
@media only screen and (max-width: 300px) {
	.app-content{
		width: 300px;
	}
}

/**/
.red{
	color: red !important;
}
.blue{
	color: dodgerblue !important;
}
.yellow{
	color: #EEC900 !important;
}
.green{
	color: lawngreen !important;
}
.black{
	color: black;
}
.grey{
	color: rgba(0,0,0,0.6) !important;
}

/**/
.transform-90{ /*带动画旋转90°*/
	transition: transform 0.5s;
	transform: rotateZ(90deg);
}
.transform-180{ /*带动画旋转180°*/
	transition: transform 0.5s;
	transform: rotateZ(180deg);
}

.transform-0{ /*还原位置*/
	transition: transform 0.5s;
	transform: rotateZ(0deg);
}

.click-none{
	cursor: not-allowed;
	user-select: none;
}
.click{
	cursor: pointer;
	user-select: none;
}
.click:active{
	opacity: 0.6;
}
.click:hover{
	opacity: 0.8;
}

.hover:hover{
	opacity: 0.8;
	cursor: pointer;
}


.select-none{ /*禁止复制*/
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.select-all{ /*复制任何*/
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
.select-text{ /*可复制文字*/
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

ul{
	padding-left: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}